
<div class="container">
	<div class="modal_header">
		<h1>{{title}}</h1>
		<header >
			<ul>
				<li><span class="nav navbar">Home</span></li>
				<li><span class="nav navbar">Status</span></li>
				<li><span class="nav navbar">Menu</span></li>
				<li><span class="nav navbar">Contact Us</span></li>
			</ul>

		</header>
	</div>
	<div class="modal_container">
		<login-component> </login-component>
		<app-success-alert> </app-success-alert>
		<app-warning-alert> </app-warning-alert>
	</div>
</div>
	<div class="modal_footer">
		<footer>
			<div> Copyright Reserved</div>
		</footer>
	</div>
